In [2]:
# !pip install pdfplumber

Requirement already satisfied: pdfplumber in /usr/local/lib/python3.7/dist-packages (0.5.26)
Requirement already satisfied: pdfminer.six==20200517 in /usr/local/lib/python3.7/dist-packages (from pdfplumber) (20200517)
Requirement already satisfied: Wand in /usr/local/lib/python3.7/dist-packages (from pdfplumber) (0.6.5)
Requirement already satisfied: Pillow>=7.0.0 in /usr/local/lib/python3.7/dist-packages (from pdfplumber) (7.0.0)
Requirement already satisfied: chardet; python_version > "3.0" in /usr/local/lib/python3.7/dist-packages (from pdfminer.six==20200517->pdfplumber) (3.0.4)
Requirement already satisfied: pycryptodome in /usr/local/lib/python3.7/dist-packages (from pdfminer.six==20200517->pdfplumber) (3.10.1)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from pdfminer.six==20200517->pdfplumber) (2.3.0)

## Importing Libraries

In [3]:
import pdfplumber,copy
import re
import pandas as pd

### Import pdf file

In [4]:
pdf = pdfplumber.open('/content/drive/MyDrive/CV/Sample.pdf')

Count the number of pages

In [5]:
len(pdf.pages)

3

Looping over the pdf and extracting the words location

In [6]:
total_words=[]
for page in range(len(pdf.pages)):
    p=pdf.pages[page]
    words = p.extract_words(x_tolerance=2)
    total_words.extend(words)
for word in total_words:
    word['x0'] = int(word['x0'])
    word['x1'] = int(word['x1'])
    word['top'] = int(word['top'])
    word['bottom'] = int(word['bottom'])

In [7]:
# total_words[0:4]

Remove unnecessary text before starting and ending the pdf

In [8]:
wordlist=[]
start=0
end=0
for i in range(len(total_words)):
    if total_words[i]['text']in ['Data:']:
        start=i+1
    if total_words[i]['text'] in ['Several']:
        end=i
# print(start,end)
for i in range(start,end):
    wordlist.append(total_words[i])

Extract required text from word list

In [9]:
text = ''
for word in wordlist:
    text = text +' ' + word['text']

In [10]:
text

' Chilli - 250 Beans long - 250 Bitter gourd - 500 Coccinia - 500 Garlic - 250 Radish white - 250 Carrot ooty - 500 Ladies finger - 500 Onion - 2 kg Potato - 1 kg Sambar cucumber - 500 Banana robust - 2 kg Bitter gourd - 500gms Brinjal purple big one - 1 Capsicum green - 2-3 pieces Baby bottle gourd - 1 Banana yellaki - 1/2 kg Arbi 1/2 kg Potato - 1kg Bitter gourd 250 gms Radish white with leaves 4-5 Delhi carrot 500 gms English Cucumber 500gms Bathua 2-3 bunches Sarson 3 Bunches Beetroot 500 grams 1 cauliflower Nati dhaniya 1 bunch Apple Washington 500gms Banana yellaki 500 gms 1 Broccoli Baby corn 1pkt Mushrooms 1pkt 2bunch coriander 1 methi 1 mint 500 gm delhi carrot 1 kg local tomato 1kg fresh green peas 500gm seedless black grapes250 gm beetroot 500gm lady finger 1 kg fresh n tender green peas 250gm ridge gourd 250 beans long 250gm capsicum 100gm amla 100gm rose Onion - 1 kg @ 1 Tomato natti - 1 kg Yelaki banana - 1 kg 1 Bunch coriander 1 Broccoli 1/2 kg Cucumber salad 1/2kg apple Washington 1/2 kg banana Yelakki 1/2 kg seedless grapes 1/2 kg delhi carrot Beans haricot-500gms Delhi carrot-1 kg Cucumber english-1kg Cucumber salad-500gms Ladies finger-500gms Cauliflower- 1 pcs Avarakai-500gms Banana yelaki-1kg(medium ripen) Papaya-1(ripen )'

Splitting the text into necessary lines as documented in pdf like line by line

In [11]:
item_list=[]
text=''
for word in wordlist:

    if word['x0']==wordlist[0]['x0']: #Equal to new line means left corner x0 coordinate
        item_list.append(text)
        #text=''
        text=word['text']
    else:

        text=text+' '+word['text']
item_list.append(text)

In [12]:
item_list=item_list[1:]
item_list

['Chilli - 250',
 'Beans long - 250',
 'Bitter gourd - 500',
 'Coccinia - 500',
 'Garlic - 250',
 'Radish white - 250',
 'Carrot ooty - 500',
 'Ladies finger - 500',
 'Onion - 2 kg',
 'Potato - 1 kg',
 'Sambar cucumber - 500',
 'Banana robust - 2 kg',
 'Bitter gourd - 500gms',
 'Brinjal purple big one - 1',
 'Capsicum green - 2-3 pieces',
 'Baby bottle gourd - 1',
 'Banana yellaki - 1/2 kg',
 'Arbi 1/2 kg',
 'Potato - 1kg',
 'Bitter gourd 250 gms',
 'Radish white with leaves 4-5',
 'Delhi carrot 500 gms',
 'English Cucumber 500gms',
 'Bathua 2-3 bunches',
 'Sarson 3 Bunches',
 'Beetroot 500 grams',
 '1 cauliflower',
 'Nati dhaniya 1 bunch',
 'Apple Washington 500gms',
 'Banana yellaki 500 gms',
 '1 Broccoli',
 'Baby corn 1pkt',
 'Mushrooms 1pkt',
 '2bunch coriander 1 methi 1 mint 500 gm delhi carrot 1 kg local tomato 1kg fresh green peas',
 '500gm seedless black grapes250 gm beetroot',
 '500gm lady finger 1 kg fresh n tender green peas 250gm ridge gourd 250 beans long 250gm',
 'capsicum 100gm amla 100gm rose',
 'Onion - 1 kg @ 1',
 'Tomato natti - 1 kg',
 'Yelaki banana - 1 kg',
 '1 Bunch coriander',
 '1 Broccoli',
 '1/2 kg Cucumber salad',
 '1/2kg apple Washington',
 '1/2 kg banana Yelakki',
 '1/2 kg seedless grapes',
 '1/2 kg delhi carrot',
 'Beans haricot-500gms',
 'Delhi carrot-1 kg',
 'Cucumber english-1kg',
 'Cucumber salad-500gms',
 'Ladies finger-500gms',
 'Cauliflower- 1 pcs',
 'Avarakai-500gms',
 'Banana yelaki-1kg(medium ripen)',
 'Papaya-1(ripen )']

Split item list in two different categories one start with digit and another start without digit

In [13]:
item_list1=[]
item_list2=[]
for i in range(len(item_list)):
    if item_list[i][0].isdigit()==True:
        item_list2.append(item_list[i])
        #item_list1.pop(i)
    else:
        item_list1.append(item_list[i])

In [14]:
len(item_list1)

44

In [15]:
item_list2

['1 cauliflower',
 '1 Broccoli',
 '2bunch coriander 1 methi 1 mint 500 gm delhi carrot 1 kg local tomato 1kg fresh green peas',
 '500gm seedless black grapes250 gm beetroot',
 '500gm lady finger 1 kg fresh n tender green peas 250gm ridge gourd 250 beans long 250gm',
 '1 Bunch coriander',
 '1 Broccoli',
 '1/2 kg Cucumber salad',
 '1/2kg apple Washington',
 '1/2 kg banana Yelakki',
 '1/2 kg seedless grapes',
 '1/2 kg delhi carrot']

In [16]:
item_list1

['Chilli - 250',
 'Beans long - 250',
 'Bitter gourd - 500',
 'Coccinia - 500',
 'Garlic - 250',
 'Radish white - 250',
 'Carrot ooty - 500',
 'Ladies finger - 500',
 'Onion - 2 kg',
 'Potato - 1 kg',
 'Sambar cucumber - 500',
 'Banana robust - 2 kg',
 'Bitter gourd - 500gms',
 'Brinjal purple big one - 1',
 'Capsicum green - 2-3 pieces',
 'Baby bottle gourd - 1',
 'Banana yellaki - 1/2 kg',
 'Arbi 1/2 kg',
 'Potato - 1kg',
 'Bitter gourd 250 gms',
 'Radish white with leaves 4-5',
 'Delhi carrot 500 gms',
 'English Cucumber 500gms',
 'Bathua 2-3 bunches',
 'Sarson 3 Bunches',
 'Beetroot 500 grams',
 'Nati dhaniya 1 bunch',
 'Apple Washington 500gms',
 'Banana yellaki 500 gms',
 'Baby corn 1pkt',
 'Mushrooms 1pkt',
 'capsicum 100gm amla 100gm rose',
 'Onion - 1 kg @ 1',
 'Tomato natti - 1 kg',
 'Yelaki banana - 1 kg',
 'Beans haricot-500gms',
 'Delhi carrot-1 kg',
 'Cucumber english-1kg',
 'Cucumber salad-500gms',
 'Ladies finger-500gms',
 'Cauliflower- 1 pcs',
 'Avarakai-500gms',
 'Banana yelaki-1kg(medium ripen)',
 'Papaya-1(ripen )']

Extract Name,Quantity and Unit from the item_list1 using regex to seprate the text from digit

In [17]:
name_list=[]
quant_list1=[]
unit_list1=[]
for element in item_list1:
    value=re.findall('(\d.*)$',element)[0]
    index=element.find(value) #Get the index of digit
    name=element[:index]
    name_list.append(name) #appending name in list
    quant_unit=value
    value=re.findall(r'.*\d',quant_unit)[0]
    ind=quant_unit.find(value)+len(value)
    quant_list1.append(quant_unit[:ind])
    unit_list1.append(quant_unit[ind:])

In [18]:
item_list2

['1 cauliflower',
 '1 Broccoli',
 '2bunch coriander 1 methi 1 mint 500 gm delhi carrot 1 kg local tomato 1kg fresh green peas',
 '500gm seedless black grapes250 gm beetroot',
 '500gm lady finger 1 kg fresh n tender green peas 250gm ridge gourd 250 beans long 250gm',
 '1 Bunch coriander',
 '1 Broccoli',
 '1/2 kg Cucumber salad',
 '1/2kg apple Washington',
 '1/2 kg banana Yelakki',
 '1/2 kg seedless grapes',
 '1/2 kg delhi carrot']

In [19]:
tyr='2bunch coriander 1 methi 1 mint 500 gm delhi carrot 1 kg local tomato 1kg fresh green peas '
fg=re.findall('(.*\w\s)\d',tyr)
fg

['2bunch coriander 1 methi 1 mint 500 gm delhi carrot 1 kg local tomato ']

Extract data from item_list2 using regex

In [20]:
item2=[]
for element in item_list2:
    
    while(True):
        #print(element)
        try:
            new_string=re.findall('(.*\w\s)\d',element)[0] #check digit in the last of data after text and stop it
        except:
            item2.append(element)
            break
        index=element.find(new_string) + len(new_string) 
        item2.append(element[index:])
        element=new_string

In [21]:
item2

['1 cauliflower',
 '1 Broccoli',
 '1kg fresh green peas',
 '1 kg local tomato ',
 '500 gm delhi carrot ',
 '1 mint ',
 '1 methi ',
 '2bunch coriander ',
 '500gm seedless black grapes250 gm beetroot',
 '250gm',
 '250 beans long ',
 '250gm ridge gourd ',
 '1 kg fresh n tender green peas ',
 '500gm lady finger ',
 '1 Bunch coriander',
 '1 Broccoli',
 '1/2 kg Cucumber salad',
 '1/2kg apple Washington',
 '1/2 kg banana Yelakki',
 '1/2 kg seedless grapes',
 '1/2 kg delhi carrot']

Seprate quantity and unit from text in item2(eg:500 kg) using regex

In [22]:
lst1=[]
item_name=[]
for element in item2:
    x=True
    try:
        value=re.findall('[a-zA-Z]{3,100}',element)[0] #find countinuous more than 3 character in the elements of list
    except:
        x=False
        pass
    if x==True:
        
        ind=element.find(str(value))

        # print(element)
        # index=element.find(str(value))
        lst1.append(element[:ind])
        item_name.append(element[ind:])

seprate Quantity and Units in two different list from list1

In [23]:
quant_list2=[]
unit_list2=[]
for element in lst1:
    value=re.findall(r'.*\d',element)[0]
    ind=element.find(value)+len(value) #Get index of a starting Character
    quant_list2.append(element[:ind])
    unit_list2.append(element[ind:])

Merge all the data columnn wise

In [24]:
total_name=name_list+item_name
total_quant=quant_list1+quant_list2
total_unit=unit_list1+unit_list2

### Create DataFrame

In [25]:
df = pd.DataFrame(list(zip(total_name, total_quant,total_unit)),columns =['Item_Names', 'Quantities','Units'])

In [26]:
df

          Item_Names Quantities Units
0          Chilli -         250
1      Beans long -         250
2    Bitter gourd -         500
3        Coccinia -         500
4          Garlic -         250
..               ...        ...   ...
59    Cucumber salad        1/2   kg
60  apple Washington        1/2   kg
61    banana Yelakki        1/2   kg
62   seedless grapes        1/2   kg
63      delhi carrot        1/2   kg

[64 rows x 3 columns]

Clean the Item name and remove spaces and special characters

In [28]:
df.Item_Names = df.Item_Names.str.replace('[#,@,&,' ',-]', '')

In [31]:
df.head(10)

        Item_Names Quantities Units
0         Chilli          250
1     Beans long          250
2   Bitter gourd          500
3       Coccinia          500
4         Garlic          250
5   Radish white          250
6    Carrot ooty          500
7  Ladies finger          500
8          Onion            2    kg
9         Potato            1    kg